<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">  
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	 <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">  
          <layout class="org.apache.log4j.PatternLayout">  
               <param name="ConversionPattern" value="%d %p [%c] - %m%n" />  
          </layout>  
     </appender>  
	<appender name="ERRORFILE" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern"  value="${star}/logs/error/%d{yyyy-MM-dd}_error.log"/>
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p][%c{1}] - %m%n"/>
		</layout>
	</appender>
	<appender name="ACCESSFILE" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern"  value="${star}/logs/access/%d{yyyy-MM-dd}_access.log"/>
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p][%c{1}] - %m%n"/>
		</layout>
	</appender>
	<logger name="errorLog">
		<level value="ERROR"></level>
		<appender-ref ref="ERRORFILE"/>
	</logger>
	<logger name="accessLog">
		<level value="INFO"></level>
		<appender-ref ref="ACCESSFILE"/>
	</logger>
	<root>
		<level value="INFO"></level>
		<appender-ref ref="CONSOLE"/>
	</root>
</log4j:configuration>