<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
		
	 <!-- 对静态资源文件的访问  方案一 （二选一）-->  
    <mvc:default-servlet-handler/>  
	 <!--方案二、 配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理，3.04新增功能，需要重新设置spring-mvc-3.0.xsd >
	<mvc:resources mapping="/image/**" location="/image/"/>
	<mvc:resources mapping="/script/**" location="/script/"/>
	<mvc:resources mapping="/css/**" location="/css/"/-->
	<!-- 默认的注解映射的支持spring在实例化@Controller类时，Spring会自动把关联的@Service（此@Service已做了@Transaction事务注解）类实例化，
	此时事务并未生效，导致@Transaction注解无效，事务未被注册。
	 --> 
	<context:component-scan base-package="com.itface"> 
		 <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" /> 
  		 <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/> 
	</context:component-scan>
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
			<bean class="org.springframework.http.converter.FormHttpMessageConverter" />
			<bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter" />
			<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
				<property name = "supportedMediaTypes">
						    <list>
						    	<value>application/json;charset=UTF-8</value>
						    </list>
				</property>			
			</bean>
			<!-- bean class="com.itface.star.spring.UTF8StringHttpMessageConverter"/-->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
		    	<constructor-arg value="UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<mvc:interceptors>
		<!-- bean name="openEntityManagerInViewInterceptor"	class="org.springframework.orm.jpa.support.OpenEntityManagerInViewInterceptor">      
		    <property name="entityManagerFactory">      
		        <ref bean="entityManagerFactory"/>      
		    </property>      
		</bean-->
		<bean name="requestInterceptor" class="com.itface.star.system.interceptor.RequestInterceptor"/>
	</mvc:interceptors>
	<!-- bean id="log4jdbcInterceptor" class="net.sf.log4jdbc.DataSourceSpyInterceptor" /-->
	<!--用拦截器的方式,AOP代理autoProxyCreator，使用的是spring默认的jdk动态代理BeanNameAutoProxyCreator -->
    <!--bean id="dataSourceLog4jdbcAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
       <property name="interceptorNames">
           <list>
              <value>log4jdbcInterceptor</value>        
           </list>
       </property>
       <property name="beanNames">
           <list>
              <value>dataSource</value>
           </list>
       </property>
    </bean-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	     <property name="prefix" value="/pages/"/>
	    <property name="suffix" value=".jsp"/>
	</bean> 
	<!-- 自定义异常处理，用于记录日志-->
	<!-- bean id="exceptionResolver" class="com.itface.star.system.log.ExceptionLog"/-->
</beans>